.pagination__wrapper {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.pagination__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.pagination__item {
  margin: 0 4px;
}

.pagination__increment-button {
  margin-left: 4px;
}

.pagination__decrement-button {
  margin-right: 4px;
}

@media screen and (max-width: 500px) {
  .pagination__list {
    margin: 0 10px;
  }
}
